<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../Resources/css/bootstrap.min.css" rel="stylesheet">


    <title>Hello, world!</title>
  </head>
    <body>
        <header class="header">
            <nav class="navbar navbar-ligth bg-ligth">
                <div class="container-fluid">
                    <a class="navbar-brand">TRAVELING FOR UNIVERSE</a>
                </div>
            </nav>
        </header>
        <!-- java -->
        <script src="../Resources/js/bootstrap.bundle.min.js"></script>
    </body>
</html>